.sobre-nosotros
    background: $gris
    > .contenedor
        display: grid
        grid-template-areas: "titulo titulo" "mision vision" "valores__corporativos valores__corporativos"
        grid-gap: 10px
        > .titulo
            grid-area: titulo
        .mision
            grid-area: mision
        .vision
            grid-area: vision
        .subtitulo
            color: $verde
            text-align: center
        p
            width: 95%
            margin: auto
            margin-top: 5%
            text-align: justify
            padding: 10px

        .valores__corporativos
            grid-area: valores__corporativos
            display: grid
            grid-template-areas: "titulo titulo" "imagen texto"
            grid-template-columns: repeat(2, 1fr)
            grid-gap: 10px
            .subtitulo
                grid-area: titulo
                margin-bottom: 5%
            .img
                grid-area: imagen
                display: flex
                margin: auto
                img
                    width: 100%
            .texto
                grid-area: texto
                display: flex
                flex-direction: column
                margin: auto
                text-align: center
                h4
                    color: $verde
                    text-align: center
                    &::after
                        content: ' Honestidad'
                        animation: key_valores 180s alternate 15s infinite
                p
                    &::after
                        content: ' Los corazones honestos, producen acciones honestas.'
                        animation: key_valores_text 180s alternate 15s infinite

.politicas
    > .contenedor
        display: grid
        grid-template-areas: "titulo titulo" "politica__calidad politica__seguridad"
        grid-gap: 10px
        > .titulo
            grid-area: titulo
        .politica__calidad
            grid-area: politica__calidad
        .politica__seguridad
            grid-area: politica__seguridad
        .subtitulo
            text-align: center
            color: $verde
        p
            width: 95%
            margin: auto
            margin-top: 5%
            text-align: justify
            padding: 10px


.estados__financieros
    background: $gris
    > .contenedor
        display: grid
        grid-template-areas: "titulo titulo titulo titulo" "card1 card2 card3 card4" ". estado__comparativo estado__comparativo ."
        grid-template-columns: repeat(4,1fr)
        grid-template-rows: 1fr 1fr
        gap: 20px
        > .titulo
            grid-area: titulo
        .estado__item
            background: $blanco
            border: 1px solid #D3D3D3
            box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75)
            -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75)
            -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75)
            a
                padding: 5px
                text-decoration: none
                display: flex
                flex-direction: column
                img
                    width: 50%
                    margin: auto
                span
                    font-size: 20px
                    font-weight: bold
                    text-align: center
                    color: $verde
        .card1
            grid-area: card1
        .card2
            grid-area: card2
        .card3
            grid-area: card3
        .card4
            grid-area: card4


.proteccion_datos
    > .contenedor
        display: grid
        grid-template-areas: "titulo" "contenido"
        .titulo
            grid-area: titulo
        .contenido
            display: grid
            grid-template-areas: "img content"
            grid-template-columns: 1fr 4fr
            grid-area: contenido
            align-items: center
            img
                grid-area: img
                width: 100%
            .cont
                grid-area: content
                // h3
                //     text-align: center
                //     font-size: 22px
                //     color: $verde
                p
                    text-align: justify
                    font-size: 20px
                a
                    text-decoration: underline
                    color: $verde
                    font-size: 18px
                    font-weight: bold


@media screen and (max-width:414px)
    .sobre-nosotros
        > .contenedor
            grid-template-areas: "titulo" "mision" "vision" "valores__corporativos"
            .valores__corporativos
                grid-template-areas: "titulo titulo" "imagen imagen" "texto texto"
                .subtitulo
                    text-align: center
    .politicas
        > .contenedor
            grid-template-areas: "titulo" "politica__calidad" "politica__seguridad"
    .estados__financieros
        > .contenedor
            display: grid
            grid-template-areas: "titulo" "card1" "card2" "card3" "card4"
            grid-template-columns: 1fr
            grid-template-rows: 50px repeat(4, 1fr)

    .proteccion_datos
        > .contenedor
            .contenido
                grid-template-areas: "img" "content"
                grid-template-columns: 1fr
                img
                    width: 50%
                    margin: auto
